Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule api/(.*)$ api.php/$1 [L,QSA]
RewriteRule m/(.*)/(.*) index.php?module=$1&page=$2
RewriteRule ^([^\.]+)$ $1.php [NC,L]




